<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subscription-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subscription-link">
                <a href="{% url 'products' %}?category=ps4" class="dropdown-item">PS4</a>
                <a href="{% url 'products' %}?category=xbox_one" class="dropdown-item">Xbox One</a>
                <a href="{% url 'products' %}?category=all_content" class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="game-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscriptions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="game-link">
                <a href="{% url 'products' %}?category=available_services" class="dropdown-item">Available Services</a>
                <a href="{% url 'products' %}?category=subscriptions" class="dropdown-item">Subscriptions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="extras-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Additional Content
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="extras-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=featured" class="dropdown-item">Featured</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>