<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subscription-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscription Service
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subscription-link">
                <a href="" class="dropdown-item">Available Services</a>
                <a href="" class="dropdown-item">Discount Subscriptions</a>
                <a href="" class="dropdown-item">All Subscriptions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="game-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Game Content
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="game-link">
                <a href="" class="dropdown-item">Base Game</a>
                <a href="" class="dropdown-item">Expansions</a>
                <a href="" class="dropdown-item">All Content</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="extras-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Additional Content
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="extras-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Featured</a>
                <a href="" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>