<div class="row mx-auto mt-5">
    <div class="col-sm-10 offset-sm-2 col-md-8 col-offset-md-2">
        <div class="review-title logo-font font-weight-bold m-2 p-4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <hr>
        {% if reviews %}
            <div class="row">
                {% for reviews in review %}
                    <div class="col-12">
                        <div class="review-notification px-3">
                        </div>
                        {% if request.user == review.user.user or request.user.iser_superuser %}
                            <div class="text-left edit-review px-2">
                                <a href="{% url 'edit_review' review.pk %}">Edit</a>
                                <a class="text-danger delete-review" data-toggle="modal" data-target="#delete-review-modal">Delete</a>
                                <div class="modal" id="delete-modal-review" role="dialog" aria-labelledby="deleteReviewModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <h5 class="modal-title text-black logo-font" id="deleteReviewModal">Delete Review</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if request.user.is_authenticated %}
                <div class="col-12">
                    <div class="text-center">
                        <a class="btn btn-black rounded-0 my-4" href="{% url 'add_review' product.pk %}">Add A Review</a>
                    </div>
                </div>
                {% else %}
                    <div class="col-12">
                        <div class="my-4 mx-auto review-notification">
                            <a href="{% url 'account_signup' %}">Sign up</a>
                            or
                            <a class="login-link" href="{% url 'account_login' %}">Log in</a>
                            to leave your review.
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if request.user.is_authenticated %}
                <div class="my-4 review-notification">
                    <p>Write your review</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-black rounded-0 my-5" href="{% url 'add_review' product.pk %}">Add A Review</a>
                </div>
            {% else %}
                <div class="my-4 review-notification">
                    <a href="{% url 'account_signup' %}">Sign up</a>
                    or 
                    <a class="login-link" href="{% url 'account_login' %}">Log in</a> 
                    to write A review.
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>